<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="server.js"></script>
    <link rel="stylesheet" href="./../css/styles.css">
    <title>Document</title>
</head>
<body>
    <header><a href="/logout">Logout</a></header>
    <div id="container">
        <h1>Recent Discussions</h1>
        <div class="welome-container">
            <h1>Welcome <%= user.username %> ( <%= user.role %> )</h1>
        </div>

        <a href="/carblogs/new" class="btn btn-primary">Create</a>
        <% discussions.forEach((discussion) => { %>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">
                        <%= discussion.title %> 
                    </h4>
                    <h6 class="card-subtitle">
                        Post owner: <%= discussion.owner ? discussion.owner.username : 'Unknown' %> <br>
                    </h6>
                    <p class="card-text">
                        <strong>Written at: </strong> 
                        <% discussion.writtenAt = new Date() %>
                        <%= discussion.writtenAt.toLocaleDateString(); %>
                        <strong>Make: </strong> <%= discussion.make %> <br>
                        <%= discussion.description %>
                    </p>

                    <%if (discussion.img) {%>
                        <img src="<%= discussion.img %>" alt="Image of a car">
                    <%}%>
                </div>

                
                <i onclick="toggleLikeDislike(this)" class="fa fa-thumbs-up"></i>
                <% if (user && discussion.owner && user._id === discussion.owner._id.toString() && user._id.toString() === discussion.owner._id.toString()) { %>
                    <form action="/carblogs/<%= discussion._id %>?_method=DELETE" method="POST" class="d-inline">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                <%} %>
                
                <a href="carblogs/<%= discussion.slug %>" class="btn btn-info" type="submit">See</a>

                </div>
            </div>     
        <% }); %>
    </div>
    <script>
        function toggleLikeDislike(e) {
            if(e.classList.contains('fa-thumbs-up')) {
                e.classList.remove('fa-thumbs-up');
                e.classList.add('fa-thumbs-down');
            } 
            else {
                e.classList.remove('fa-thumbs-down');
                e.classList.add('fa-thumbs-up');
            }
        } 
    </script>
</body>
</html>